<div>
    <div id="section-header">
        <div style="float:left">
            <button ng-click="activateSuche()" class="btn">Filter</button>
            <button ng-click="activateEinstellungen()" class="btn">Einstellungen</button>
        </div>
        <div class="onoffswitchtm">
            <input type="checkbox" name="onoffswitchtm" class="onoffswitchtm-checkbox" id="myonoffswitchtm" ng-model="checked">
            <label class="onoffswitchtm-label" for="myonoffswitchtm">
                <span class="onoffswitchtm-inner"></span>
                <span class="onoffswitchtm-switch"></span>
            </label>
        </div>
</div>

    <div ng-controller="databaseController">
        <main id="section-main" class="section-main" ng-controller="dataFilterController">
            <div ng-controller="mapController" ng-hide="checked">
                <google-map center=map.center zoom="map.zoom" draggable="true" fit="true" control="map.control">
                   <marker coords="map.userCoords"></marker>
                   <marker click="markerClicked(bar)" icon="bar.locEvents | byDate:filterChangedService.filterDate | byTime:filterChangedService.filterTime:filterChangedService.filterByTime | getIconFromFilterResultBar" options="bar.options" coords="bar.coords" ng-repeat="bar in mapLocations.bars"></marker>
                   <marker click="markerClicked(club)" icon="club.locEvents | byDate:filterChangedService.filterDate | byTime:filterChangedService.filterTime:filterChangedService.filterByTime | getIconFromFilterResultClub" options="club.options" coords="club.coords" ng-repeat="club in mapLocations.clubs"></marker>
                   <marker click="markerClicked(other)" icon="other.locEvents | byDate:filterChangedService.filterDate | byTime:filterChangedService.filterTime:filterChangedService.filterByTime | getIconFromFilterResultRestaurant" options="other.options" coords="other.coords" ng-repeat="other in mapLocations.others"></marker>
                   <marker click="markerClicked(restaurant)" icon="restaurant.locEvents | byDate:filterChangedService.filterDate | byTime:filterChangedService.filterTime: filterChangedService.filterByTime | getIconFromFilterResultOther" options="restaurant.options" coords="restaurant.coords" ng-repeat="restaurant in mapLocations.restaurants"></marker>
                </google-map>
            </div>
            <div ng-controller="TableController" ng-show="checked">
                <div class="myContainer">
                    <strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
                </div>
                <div class="gridStyle z-index-grid" ng-grid="gridOptions"></div>
            </div>
        </main>
        <section id="section-suche" class="{{sections.filterSection.css}}" text="a" ng-controller="filterController">
            <h1 style="margin-top: 0px">Filtereinstellungen</h1>
            <div class="myContainer">
                <div class="onoffswitch">
                    <input type="checkbox" name="filterBars" id="filterBars" class="onoffswitch-checkbox" ng-model="filterChangedService.filterBars">
                    <label class="onoffswitch-label" for="filterBars">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <label class="label-OnOff-Switch">Bars</label>
            </div>
            <div class="myContainer">
                <div class="onoffswitch">
                    <input type="checkbox" name="filterRestaurants" id="filterRestaurants" class="onoffswitch-checkbox" ng-model="filterChangedService.filterRestaurants">
                    <label class="onoffswitch-label" for="filterRestaurants">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <label class="label-OnOff-Switch">Restaurants</label>
            </div>
            <div class="myContainer">
                <div class="onoffswitch">
                    <input type="checkbox" name="filterClubs" id="filterClubs" class="onoffswitch-checkbox" ng-model="filterChangedService.filterClubs">
                    <label class="onoffswitch-label" for="filterClubs">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <label class="label-OnOff-Switch">Clubs</label>
            </div>
            <div class="myContainer">
                <div class="onoffswitch">
                    <input type="checkbox" name="filterOther" id="filterOther" class="onoffswitch-checkbox" ng-model="filterChangedService.filterOther">
                    <label class="onoffswitch-label" for="filterOther">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <label class="label-OnOff-Switch">Other</label>
            </div>
            <div class="myContainer">
                <input ng-model="filterChangedService.filterDate" type="date">
                <button ng-click="setCurrentDate()">Heute</button>
            </div>
            <div class="myContainer">
                <input ng-model="filterChangedService.filterByTime" type="checkbox">Zeit</input>
                <input ng-model="filterChangedService.filterTime" type="time">
                <button ng-click="setCurrentTime()">Jetzt</button>
            </div>
            <div class="myContainer">
                <div>
                    <input id="currentLocationCheckbox" type="radio" ng-model="filterChangedService.locationFilter" value="byCurrentLocation">
                    <label style="width: 10%" for="currentLocationCheckbox">Standort</label>
                    <input id="radiusRange" style="width: 75%; display: inline" type="range" min="0" max={{filterChangedService.maximumFilterRadius}} step="1" ng-model="filterChangedService.filterRadius" ng-change="radiusChanged()"/>
                    <label for="radiusRange">{{filterChangedService.filterRadius}} km</label>
                </div>
                <div>
                    <input id="cityCheckbox" type="radio" ng-model="filterChangedService.locationFilter" value="byCity">
                    <label style="width: 10%" for="cityCheckbox">Stadt</label>
                    <input name="address" type="text" ng-autocomplete="result" options="options" details="details" class="form-control" style="width: 80%; display: inline"></input>
                </div>
            </div>
        </section>

        <section id="section-einstellungen" class="{{sections.einstellungenSection.css}}">
            <h1>hallo2</h1>
        </section>
    </div>
</div>