<ul class="nav nav-tabs">
    <li><a href="#">Home</a></li>
    <li><a href="#/adminPages/createEvent">Events verwalten</a></li>
    <li class="active"><a href="#/adminPages/createLocation">Locations verwalten</a></li>
    <li><a href="#/adminPages/manageUsers">User verwalten</a></li>
</ul>

<div>
    <details>
        <summary>Location erstellen</summary>
        <div class="container">
            <form name="createLocation" class="form-createLocation" role="form">
                <input name="name" type="text" ng-model="location.name" class="form-control" autofocus>
                <input name="address" type="text" id="adressAutocomplete" ng-autocomplete="result" options="options" details="details" class="form-control"/>
                <select name="type" ng-model="location.type" ng-options="type.text for type in locationTypes" class="form-control" ></select>
                <input name="openingTime" type="text" placeholder="Öffnungszeit" ng-model="location.openingTime" class="form-control">
                <button id="createLocationButton" ng-click="createLocationInDb()" class="btn btn-primary">Location erstellen</button>
            </form>
        </div>
    </details>

    <table class="table table-striped">
        <tr>
            <th>Location Name</th>
            <th>Adresse</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="location in locations()">
            <td>{{location.name}}</td>
            <td>{{location.address}}</td>
            <td ng-click="open(location, true)"><span class="glyphicon glyphicon-edit"></span></td>
            <td ng-click="deleteLocation(location)"><span class="glyphicon glyphicon-trash"></span></td>
        </tr>
    </table>
</div>